.shop_slider .slick-prev:before,
.shop_slider .slick-next:before {
    color: black !important; /* Arrow color */
    font-size: 42px !important; /* Arrow size */
    background: honeydew !important; /* Background color */
    border-radius: 15px !important; /* Rounded corners */
}

.shop_slider .slick-prev,
.shop_slider .slick-next {
    background: transparent; /* Ensure the background is transparent */
}

.shop_slider .slick-dots li.slick-active button {
    background: honeydew !important; /* Active dot color */
}

.shop_slider .slick-dots li button {
    background: lightgray !important; /* Inactive dot color */
}
